
html {
    box-sizing: border-box;
    min-height: 100vh;
}

*, *:after, *:before {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.header, .footer {
    background-color: #3D3D3D;
    color: #FFFFFF;
}

.header-inner {
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0;
    font-family: cursive;
    font-size: 32px;
    width: 100%;
    color: #fafafa;
}

.header-inner .option {
    font-style: italic;
    text-align: center;
    color: #ff6600;
}

.header-inner #student-name {
    font-weight: bold;
    color: #a093f4;
}

.main {
    flex: 1 0 auto;
    padding: 30px 0;
}

.main__inner {
    flex: 1 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.graph__axis, .graph__arrow, .graph__serif {
    stroke: #6A4CFF;
    stroke-width: 2px;
}

.graph__arrow {
    fill: none;
}

.graph__point {
    fill: #A084FF;
    fill-opacity: 0.2;
    stroke: #6A4CFF;
    stroke-width: 2px;
}

.archive {
    width: 600px;
    padding: 10px;
    box-sizing: border-box;
}

.archive__heading {
    margin: 0 0 10px 0;
    font-family: Arial, sans-serif;
    font-size: 32px;
    font-style: normal;
}

.archive__table-wrapper {
    max-height: 600px;
    overflow-y: auto;
    border: 1px solid #ccc;
}

.archive__table {
    width: 100%;
    border-collapse: collapse;
}

.table-archive__head th {
    position: sticky;
    top: 0;
    background: #f8f8f8;
    z-index: 1;
    border-bottom: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.table-archive__main td {
    padding: 8px;
    border-bottom: 1px solid #eee;

}

.home-link {
    margin: 20px 0;
}

.home-link a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #9B7BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.home-link a:hover {
    background-color: #607BFF;
    transform: scale(1.05);
}

.main-content {
    display: flex;
    gap: 50px;
    align-items: flex-start;
    max-width: 1620px;
    padding: 0 15px;
    font-family: Arial, sans-serif;
    font-size: 32px;
    font-style: normal;
    line-height: normal;
    margin: 0 auto;
}

.hidden-button {
    display: none;
    visibility: hidden;
}

.table-container {
    flex: 1;
}